body, html {
  min-height: 100vh; /* Ensure the minimum height of the entire page is at least the viewport height */
  position: relative;
}

.section{
  background-color: rgb(205, 205, 205);
  padding: 5px;
  border-radius: 4px;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 50px;
  height: 15px;
}

.section p{
  margin-top: -1px;
  font-weight: bold;
  font-size: 10pt;
}

.price{
  text-align: left;
  font-weight: lighter;
  width: 250px;
  height: 50px;
  font-size: 15pt;
  font-size: 14pt;
}

button{
  border: none;
  border-radius: 1px;
  width: 100px;
  height: 25px;
  padding: 2px;
  margin-top: 10px;
  background-color: #07B8C3;
  font-weight: bold;
  cursor: pointer;
}

button:active{
  background-color: #E82D86;
}

.rating{
  text-align: left;
  margin-top: 7px;
    margin-bottom: -15px;
    width: 250px;
    font-size: 10pt;
    color: rgb(0, 123, 255);
    font-weight: bold;
  }

  /* Header */

  .headerContainer{
    display: flex;
    width: 99.3vw;
    height: 150px;
    align-items: center;
    justify-content: flex-end;
    background-color: #3A109A;
    transform: translate(-8px);
  }

  .contactInfo{
    display: flex;
    margin-top: -117px;
    width: 100vw;
    height: 50px;
    background-color: #E82D86;
    position: absolute;
  }

  .contactBox{
    color: white;
    font-family: "Poppins";
    width: 15%;
    height: 50px;
    float: left;
    margin-left: 5%;
  }

  .contactBoxEmail{
    color: white;
    font-family: "Poppins";
    width:70%;
    height: 50px;
    float: left;
    margin-left: 2%;
  }

  .searchBox{
    background-color: #5919ec;
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 25px;
    font-size: 20px;
    font-family: "Poppins";
    color: white;
    padding-left: 10px;
    font-weight: bold;
  }

  .searchButton{
    background-color: #5919ec;
    border-radius: 15px;
    height: 27px;
    width: 50px;
    margin-left: 5px;
    margin-top: 0;
    color: white;
  }

  .socialsBox{
    margin-top: 15px;
    color: white;
    font-family: "Poppins";
    width: 25%;
    height: 50px;
    float: left;
  }

  .policies{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    height: 175px;
    color: #07B8C3;
    align-items: center;
  }

  .policyBox{
    width: 25%;
    height: 100px;
    margin-left: 6%;
    min-width: 370px;
  }

  .policyImage1{
    width: 75px;
    height: 75px;
    background-image: url('/images/vector/Vector.png');
    float: left;
    margin-top: 20px;
    margin-left: 110px;
    margin-right: 5px;
  }

  .policyImage1:hover{
    background-image :url('/images/vector/Vector.gif');
  }

  .policyImage2{
    width: 75px;
    height: 75px;
    background-image :url('/images/vector/moneyback.png');
    float: left;
    margin-top: 20px;
    margin-left: 110px;
    margin-right: 5px;
  }

  .policyImage2:hover{
    background-image :url('/images/vector/moneyback.gif');
  }

  .policyImage3{
    width: 75px;
    height: 75px;
    background-image:url('/images/vector/support.png');
    float: left;
    margin-top: 20px;
    margin-left: 110px;
    margin-right: 5px;
  }

  .policyImage3:hover{
    background-image :url('/images/vector/support.gif');
  }

  .policyTxt{
    margin-top: 35px;
    margin-left: 20px;
    float: left;
    font-family: "Poppins";
    font-weight: bold;
    color: grey;
  }

  .nav{
    display: flex;
    margin-top: 33px;
    background-color: #3A109A;
    width: 100vw;
    height: 100px;

  }

  .title {
    flex: 0 0 20%;
    color: #ffffff;
    font-family: "Poppins";
    align-items: center;
    font-size: 1.5em;
    font-weight: bolder;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides overflow */
    text-overflow: ellipsis; /* Displays an ellipsis for overflowed text */
    margin-left: 15px; /* Adjusted margin-left for spacing */
    margin-top: 30px;
  }

  .navBox{
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 20vw;
    float: right;
    width: 36vw;
    height: 100px;
    color: white;
    text-decoration: none;
    font-family: "Poppins";
    }

  .navText, .navText:visited {
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
    padding: 0 10px; /* Added padding for spacing between links */
  }

  .navText:hover {
    color: #07B8C3; /* Highlight color on hover */
  }

  .loginBox {
    flex: 0 0 20%; /* Does not grow, does not shrink, basis of 20% */
    display: flex;
    align-items: center; /* Corrected for vertical alignment */
    justify-content: flex-end; /* Aligns login text to the right */
    padding-right: 1%; /* Adjust padding as needed */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    /* Adjust or remove margin-top if it affects vertical alignment */
    margin-left: 200px;
  }

  .loginText {
    color: white;
    font-family: "Poppins";
    text-decoration: none;

  }
  .loginText:hover {
    color: #E82D86; /* Highlight color on hover */
  }
  @media (max-width: 768px) {
    .title, .navBox, .loginBox {
      font-size: 1.5em; /* Adjusts font size for smaller screens */
      justify-content: center; /* Centers content on smaller screens */
      flex-basis: 100%; /* Makes each take full width on smaller screens */
      text-align: center; /* Centers text */
      padding: 10px 0; /* Adds vertical padding */
    }

    .nav {
      flex-direction: column;
      height: auto; /* Adjust height to fit content */
      padding-left: 0; /* Removes left padding */
      align-items: center; /* Aligns children in the center */
    }
  }


  .loginBox {
    flex: 0 0 20%; /* Does not grow, does not shrink, basis of 20% */
    display: flex;
    align-items: center; /* Corrected for vertical alignment */
    justify-content: flex-end; /* Aligns login text to the right */
    padding-right: 1%; /* Adjust padding as needed */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    /* Adjust or remove margin-top if it affects vertical alignment */
  }

  .loginText {
    color: white;
    font-family: "Poppins";
    text-decoration: none;

  }
  .loginText:hover {
    color: #E82D86; /* Highlight color on hover */
  }
  @media (max-width: 768px) {
    .title, .navBox, .loginBox {
      font-size: 1.5em; /* Adjusts font size for smaller screens */
      justify-content: center; /* Centers content on smaller screens */
      flex-basis: 100%; /* Makes each take full width on smaller screens */
      text-align: center; /* Centers text */
      padding: 10px 0; /* Adds vertical padding */
    }

    .nav {
      flex-direction: column;
      height: auto; /* Adjust height to fit content */
      padding-left: 0; /* Removes left padding */
      align-items: center; /* Aligns children in the center */
    }
  }



  .hero{
    background-color: #3A109A;
    width:99.3vw;
    height: 566px;
    display: flex;
    position: absolute;
    transform: translate(-8px);
    z-index: 9999;
    box-shadow: 1px 5px 5px hsl(0, 0%, 0%,0.3);
  }

  .heroImgBox{
    width: 575px;
    flex-shrink: 0;
    height: 566px;
  }

  .heroTxtBox{
    margin-top: 75px;
    width: 1000px;
    height: 380px;
    margin-left: 150px;
  }

  .heroTxt{
    color: #07B8C3;
    font-family: "Poppins";
    font-weight: bolder;
    font-size: 3.5em;
    margin-top: -20px;
    text-shadow: 5px 5px 5px hsl(0, 0%, 0%,0.2);
  }

  .heroTxtLow{
    color: lightcyan;
    font-family: "Poppins";
    font-weight: bolder;
    font-size: 3em;
    margin-top: -25px;
    text-shadow: 5px 5px 5px hsl(0, 0%, 0%,0.2);
  }

  .heroTxtButton{
    transition: 100ms linear;
    scale: 1;
    margin-left: -950px;
    margin-top: 400px;
    position: absolute;
    height: 40px;
    background: none;
    border: white 1px solid;
    border-radius: 1px;
    background-color: #07B8C3;
    color: white;
    font-family: "Poppins";
    box-shadow: 0px 5px 5px 2px hsl(0, 0%, 0%, 0.1);
  }

  .heroTxtButton:hover{
    transition: 100ms linear;
    scale: 1.1;
    background-color: #E82D86;
  }

  .featuredBox{
    width: 100%;
    height: 100px;
    margin-top: 630px;
    position: absolute;
    transform: translate(-8px);
  }

  .featuredTitle{
    color: #07B8C3;
    align-items: center;
    font-size: 4em;
    font-weight: 800;
    height: 68px;
    width: 100%;
    margin-top: -3px;
  }

  .featuredTitleTxt{
    font-family: "Poppins";
    text-align: center;
    margin-top: -5px;
  }

  .featuredTitleTxt{
    font-family: "Poppins";
    text-align: center;
    margin-top: -15px;
  }

  .featuredCardBox {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row; /* Ensures items are laid out in a row */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    flex-wrap: wrap; /* Allows items to wrap as needed */
    gap: 5%; /* Adjust this value for space between the items */
    margin-top: 5%; /* Adjust as needed */
 
  }
  
  .featuredCard{
    width: 30vw;
    height: 20vh;
    max-width: 50vw;
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .featuredImg{
    float: left;
  }

  .featuredItemTitle{
    font-family: "Poppins";
    color: #07B8C3;
    font-size: 1.5em;
    text-align: left;
  }

  .featuredPrice{
    margin-top: -50px;
    font-family: "Poppins";
    font-size: 1.5em;
    text-align: left;
  }

  .viewButton{
    background-color: #3A109A;
    border: none;
    color: white;
    font-family: "Poppins";
    border-radius: 1px;
  }

  .viewButton:hover{
    background-color: #E82D86;
    color: white;
  }

  .rectBox {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    position: absolute; 
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    padding:50px 0; /* Adds vertical padding */
    flex-wrap: nowrap; /* Keeps items in a single row */
  }
  
  .blueRect, .featuredRect {
    width: 20%; /* Specifies width */
    height: 650px; /* Ensures consistent height */
    background-color: #07B8C3; /* Background color for blueRect */
    display: flex; /* Enables flexbox properties within */
    flex-direction: column; /* Arranges children vertically */
    justify-content: center; /* Centers children vertically */
    align-items: center; /* Centers children horizontally */
    gap: 5%; /* Space between children */
  }
  
  .featuredRect {
    background-color: white; /* Different background for featuredRect */
  }
  
  .rectImg {
    max-width: 90%; /* Ensures the image fits within its container, adjusting for some padding */
    height: auto; /* Maintains aspect ratio */
  }
  
  .rectText {
    font-family: "Poppins";
    font-weight: bold;
    color: #07B8C3;
    font-size: 1.25em;
    text-align: center; /* Centers text */
    max-width: 100%; /* Matches the image max-width for consistency */
  }
  
  .aboutTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    flex-wrap: nowrap;
    font-family: "Poppins";
   }

     .aboutText{
    font-weight: 400;
    justify-content: left;
    width: 80%;
    height: auto;
    color: white;
    font-family: "Poppins";
    font-size: 1em;
  }

  .aboutBtn{
    scale: 1;
    transition: 100ms linear;
    margin-top: 30px;
    background: none;
    color: white;
    background-color: #3A109A;
    font-family: "Poppins";
    border-radius: 1px;
    font-weight: 300;
    height: 35px;
  }

  .aboutBtn:hover{
    scale: 1.01;
    transition: 100ms linear;
    background-color: #E82D86;
    box-shadow: hsl(0, 0%, 0%,0.2) 0px 5px 5px;
  }

  .aboutBtn:active{
    background: none;
    color: #07B8C3;
  }

  .stars{
    color: gold;
    font-size: 10pt;
  }

  /*Product Details*/

  .detailsBox{
    width: 93vw;
    height: auto;
    background-color: rgb(255, 255, 255);
    position: absolute;
  }

  .prodCatBox{
    margin-left: 100px;
    margin-top: 45px;
    height: 50px;
    width: 300px;
    position: absolute;
  }

  .prodInfoBox{
    width: 50%;
    height: auto;
    float: left;
    margin-left: 100px;
    margin-top: 60px;
  }

  .prodImgBox {
    width: 600px;
    height: 600px;
    float: left;
    margin-left: 50%;
    margin-top: -20vh;
  }

  .prodTitle{
    font-family: "Poppins";
    font-size: 3em;
    color: #3A109A;
    font-weight: bold;
  }

  .prodRatingBox{
    width: 300px;
    height: 50px;
    position: absolute;
    margin-top: -70px;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 1.5em;
  }

  .prodPriceBox{
    text-align: right;
    width: 300px;
    height: 50px;
    position: absolute;
    margin-top: -70px;
    margin-left: 330px;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 1.5em;
  }

  .prodSkuBox{
    width: 300px;
    height: 50px;
    position: absolute;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 1em;
  }

  .prodDescBox{
    margin-top: 100px;
    width: 40%;
    height: auto;
    font-family: "Poppins";
    font-size: 1em;
    margin-top: 75px;
    position: absolute;
  }

  .addToCart{
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: #3A109A;
    margin-top: 20vh;
    border-radius: 5px;
    color: white;
    font-size: 12pt;
  }

  .addToCart:hover{
    background-color: #E82D86;
  }

  .prodItemName{
    color: #3A109A;
    font-family: "Poppins";
    font-weight: bold;
  }

  .prodCat{
    opacity: 0.4;
    text-decoration: none;
  }

  /*Product Grid*/

  .cardBoxWrapper{
    width: 99.3vw;
    height: auto;
    background-color: #9b1958;
  }

  .catTitle{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 250px;
    transform: translate(-8px);
    text-decoration: none;
  }

  .titleBox{
    text-align: center;
    width: 100%;
    height: 100px;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 50pt;
    color: #3A109A;
    position: absolute;
  }

  .catBox{
    margin-left: 100px;
    margin-top: 45px;
    height: 50px;
    width: 300px;
    position: absolute;
    font-family: "Poppins";
    font-weight: bold;
    color: #3A109A;
  }

  .cardBox{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    height: 250px;
    transform: translate(-8px);
  }

  .cardBackground{
    scale: 1;
    transition: 100ms linear;
    min-width: 390px;
    min-height: 200px;
    width: 24vw;
    height: 24.2vh;
    float: left;
    margin-left: 6%;
    margin-bottom: 50px;
    /* box-shadow: hsl(0, 0%, 0%,0.1) 5px 5px 5px; */
  }

  .cardBackground:hover{
    scale: 1.05;
    transition: 100ms linear;
    /* box-shadow: hsl(0, 0%, 0%,0.2) 5px 5px 5px; */
  }

  .itemImg{
    float: left;
    height: 240px;
    width: 240px;
  }

  .itemTitle{
    margin-top: -10px;
    width: 9vw;
    height: 12.1vh;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 1.25em;
    position: absolute;
    margin-left: 260px;
    color: #07B8C3
  }

  .itemPrice{
    width: 220px;
    height: 50px;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    margin-left: 257px;
    margin-top: 100px;
  }

  .viewBtn{
    background-color: #3A109A;
    color: white;
    height: 30px;
    width: 50px;
    border-radius: 1px;
    margin-top: 180px;
    margin-left: 20px;
  }

  .viewBtn:hover{
    background-color: #E82D86;
    color:#ffffff;
  }

.loginPageBox{
  width: 25vw;
  height: 60vh;
  margin-left: 37.5vw;
}

.loginButton{
  width: 20%;
  background-color: #E82D86;
  font-family: "Poppins";
  color: white;
  font-size: 20px;
  height: 40px;
  margin-left: 40%;
  border-radius: 5px;
}

.loginButton:active{
  background-color: #9b1958;
}

.loginInput{
  margin-bottom: 25px;
  margin-left: 25%;
  border:#E82D86 2px solid;
  border-radius: 5px;
  width: 50%;
  height: 30px;
  font-size: 20px;
}

.loginPageTextBox{
  text-align: center;
  color: #07B8C3;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 25pt;
  width: 50%;
  margin-left: 25%;
}

.registerMsg{
  text-align: center;
  font-family: "Poppins";
  color: #3A109A;
}

.registerBox{
  width: 50vw;
  box-shadow: hsl(0, 0%, 0%,0.1) 0px 5px 10px 5px;
  height: 60vh;
  border-radius: 15px;
  margin-left: 25vw;
  margin-top: 5vh;
}

.registerInput{
  border: #E82D86 2px solid;
  border-radius: 5px;
  width: 25vw;
  height: 3vh;
  margin-bottom: 7px;
  margin-left: 12.5vw;
}

.registerSuccess{
  margin-top: 2vh;
  width: 25vw;
  height: 8vh;
  background-color: green;
  color: white;
  font-family: "Poppins";
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  margin-left: 12.5vw;
  transition: 100ms linear;
  opacity: 1;
}

.registerInvis{
  margin-top: 4vh;
  width: 25vw;
  height: 8vh;
  color: white;
  color: white;
  font-family: "Poppins";
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  margin-left: 12.5vw;
  opacity: 0;
}

.resultsBox{
  width: 100%;
  height: auto;
}

.resultsTxt{
  font-family: "Poppins";
  margin-left: 10px;
}

.resultsQuery{
  font-weight: bold;
}